{% extends 'base.html' %}
{% load static %}

<!-- Developer : ADARSH MAURYA adwebproductions.com-->

{% block title %}Search{% endblock title %}

{% block head %}

<link rel="stylesheet" href="{% static '/css/indexStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="stylesheet" href="{% static '/css/about.css' %}">

{% endblock head %}


{% block main %}

<main>
        
    <p id="about-para">
        Search Results 
    </p>
   




</main>

{% endblock main %}
    

{% block script %}

<script src="{% static '/js/remain.js' %}">

</script>
<script src="{% static '/js/responsive.js' %}"></script>

{% endblock script %}
    
