{% extends 'base.html' %}
{% load static %}

<!-- Developer : ADARSH MAURYA adwebproductions.com-->

{% block title %}Search{% endblock title %}

{% block head %}

<link rel="stylesheet" href="{% static '/css/indexStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="stylesheet" href="{% static '/css/about.css' %}">
<link rel="stylesheet" href="{% static '/css/search.css' %}">

{% endblock head %}

{% block main %}

<main>
    
    
    
    <h2 id="about-para">
        Search Results :
    </h2>
    <br>
    <div id = "s-query-box">
    {% for profile in profiles %}

        

        <ul class="s-list">
           
            {% comment %} specify you domain here for image {% endcomment %}
            <li><div style="background-image: url('http://127.0.0.1:8000/uploads/{{profile.image}}');" id="s-list-img"></div></li>
            <li id="s-list-name">{{profile.name}}</li>
            <li id="s-list-points"> Points {{profile.points}}</li>
        </ul>

        


        
    

    {% endfor %}

    <div>
    




</main>

{% endblock main %}
    

{% block script %}

<script src="{% static '/js/remain.js' %}">

</script>
<script src="{% static '/js/responsive.js' %}"></script>

{% endblock script %}
    
